<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DiceRoll</title>
</head>
<body>
<h5>Diceroll: <a href="{% url 'diceroll' id=diceroll.GUID %}">{{ diceroll.description }}</a></h5>
<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Create">
</form>
<ul>
{% for roll in diceroll.rolls %}
    <li><b>{% if roll.successes > 0 %}Successes: {{ roll.successes }}{% else %}FAIL!{% endif %}</b> - {{ roll.values|join:", " }}</li>
{% endfor %}
</ul>


</body>
</html>